.header {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.slides {
  width: 300%;
  height: 100%;
  display: flex;
}
.slides img {
  width: 250%;
  height: 250%;
  object-position: 0px -245px;
  image-rendering: pixelated;
}
.img-header {
  width: 33.34%;
  transition: 2s;
}
.img-1 {
  /* background-image: url(../img/banner-thiep-tet-202363317beb4e8ed.jpg); */
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.img-2 {
  background-image: url(../img/pngtree-up-to-50-off-mega-sale-offer-banner-design-png-png-image_8330525.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.img-3 {
  background-image: url(../img/trang-phuc-tet-3.png);
  background-repeat: no-repeat;
  background-size: 53%;
  background-position: center;
}

.img-4{
  width: 150%;
  height: 150%;
}
.slides input {
  display: none;
}

.navigation-manual {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.manual-btn {
  border: 2px solid #3785fd;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #3785fd;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -33.33%;
}
#radio3:checked ~ .first {
  margin-left: -66.66%;
}

.header-back {
  background-color: var(--white-color);
  width: 99%;
  position: absolute;
  height: 100px;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-header {
  height: 50px;
  width: 200px;
  font-size: 2rem;
  cursor: pointer;
}
.boder {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
}

.header-tool {
  border-bottom: 1px solid var(--black-color);
  display: flex;
  align-items: center;
}
.header-tool-name {
  margin: auto 0;
}

.header-tool-name h3 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--black-color);
  align-items: center;
  margin: auto;
  font-family: logoFont;
}

.header-search {
  display: flex;
  margin: auto 0;
}

.header-tool {
  display: flex;
  height: 50px;
  justify-content: space-between;
  position: relative;
  overflow: auto;
  padding: 0 5px;
}
.search {
  width: 40%;
  display: flex;
}
.input-search {
  width: 100%;
  font-size: 1.1rem;
  display: none;
}
.btn-donate {
  margin: auto 0;
  height: 29px;
  width: 100px;
}

.donate {
  width: 100%;
  height: 100%;
}

.icon {
  font-size: 1.5rem;
  color: #000;
  margin: auto;
}

.search:hover {
  background-color: #f1f1f1;
}
.icon-list {
  margin: auto 0 auto auto;
  font-size: 1.5rem;
  margin: auto 15px;
  color: #000;
}
.recent {
  color: rgb(201, 27, 27);
  display: flex;
  width: 70%;
}
.text {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
  width: calc(100% / 5);
  text-align: center;
  display: flex;
}

.text a {
  text-decoration: none;
  color: var(--black-color);
  margin: auto;
}

.text:hover {
  background-color: #f1f1f1;
}

.header-bottom {
  display: flex;
  position: absolute;
  height: 50%;
  padding: 1%;
  width: 100%;
}

.slogan {
  width: 15%;
  font-size: 1.1rem;
}

.contact {
  width: 15%;
  font-size: 1.1rem;
  display: flex;
  margin: auto 0;
  justify-content: center;
}
.social {
  text-decoration: none;
  color: #000;
}

.Name-web {
  width: 100%;
  height: 65%;
  text-align: center;
  display: flex;
  position: absolute;
  top: 25%;
}
.name {
  font-size: 7rem;
  margin: auto;
  height: 50%;
  text-align: center;
  color: var(--white-color);
}

.detail {
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  display: block;
}

.layout-header {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  height: 100%;
}

.layout {
  width: 100%;
  text-align: left;
  display: block;
  height: 100%;
  display: flex;
  padding: 40px;
}
.header-title {
  margin: auto;
}

.layout-tour {
  display: block;
  padding: 5%;
  height: 580px;
  background-color: #d6d0d021;
  margin-bottom: 10px;
  border-radius: 5px;
}
.layout-tour:hover {
  background-color: #6d69692d;
  padding: 0;
  transition: 0.5s ease-in;
}
.header-detail {
  display: block;
  font-size: 1.5rem;
  width: 80%;
}
.top.header-detail {
  font-size: 4rem;
  font-weight: 600;
  margin: 10px 0;
  line-height: 100%;
  font-family: logoFont;
}
.more {
  border-bottom: 3px #3785fd solid;
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  transform: translateY(-20px);
}
.more-2 {
  margin-top: 20px;
}

.pic {
  width: 100%;
}
.body-tour {
  background: #28282817;
  width: 100%;
  padding: 4% 0;
}

.body-header {
  margin: auto;
  width: 100%;
  padding: 0 20%;
  text-align: center;
}

.body-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body-tour-text {
  font-size: 4rem;
  margin: 0;
  line-height: 100%;
  margin-bottom: 20px;
  text-shadow: 1.5px 1.5px var(--black-color);
}
.body-tour-text-bottom {
  font-size: 2rem;
  margin: 0;
}
.box {
  display: block;
  margin: 0px;
  width: 100%;
}
.pic-1 {
  width: 100%;
}

.top-foot {
  background-color: #f1f1f1;
  padding: 10% 30%;
  text-align: center;
}

.header-foot-top {
  font-size: 3rem;
  font-weight: 800;
}

.header-foot-bottom {
  font-weight: 200;
  padding: 0 50px;
}
.email {
  width: 100%;
  height: 45px;
  font-size: 1.2rem;
  border-radius: #f1f1f1;
}
.btn-submit {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: #3785fd;
  color: var(--white-color);
  border: 0;
}
.Title-tour h4 {
  font-size: 1.8rem;
}
.Title-tour h5 {
  font-size: 1.3rem;
}

.footer {
  background-color: #282828;
  height: 600px;
}
.foot {
  color: var(--white-color);
}
.text-foot {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  width: 20%;
  border: 2px #f1f1f1;
  text-align: center;
  display: flex;
}

.text-foot a {
  text-decoration: none;
  color: var(--white-color);
  margin: auto;
}
.header-back-bottom {
  width: 90%;
  position: absolute;
  height: 100px;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-tool-foot h3 {
  padding: 50px 0;
  font-size: 2rem;
  color: var(--white-color);
  margin: 0;
  font-family: logoFont;
}
.header-bottom-foot {
  display: flex;
  position: absolute;
  height: 50%;
  padding-bottom: 50px;
  width: 100%;
  border-bottom: 1px #f1f1f12d solid;
}
.menu-item {
  width: 33.33%;
  text-align: center;
  list-style: none;
  display: flex;
  font-family: bodyFont;
}
.menu-item a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
  text-align: right;
  margin: auto;
}
.menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 200px;
  margin: auto;
  padding: 0 30%;
}
.back-foot {
  margin-top: 70px;
  display: flex;
}
.end span {
  color: var(--white-color);
  font-size: 1.5rem;
}
.end {
  margin-top: 100px;
  text-align: center;
}
.boder-bottom {
  width: 100%;
  height: 25%;
  position: relative;
  top: 0;
  left: 0;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.modal-container {
  background-color: #28282844;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
}
/* modal signup  */

.modal-login-signup {
  background-color: var(--white-color);
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 3px;
  z-index: 2;
  display: flex;
}
.signup {
  width: 50%;
  padding: 0 5px 0 20px;
}
.signup h2 {
  font-family: logoFont;
  font-size: 3rem;
}
.signup span {
  background-color: #ffffff;
  transform: translate(5px, 7.5px);
  margin: 0;
  padding: 0 10px;
  border-radius: 5px;
  display: inline-flex;
}
form {
  margin: auto;
}
.uname,
.mail-signup,
.pass {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.pass {
  margin-bottom: 10px;
}
.back {
  background: url(../img/mountains-6562436.jpg) no-repeat center;
  padding-top: 50%;
  width: 50%;
  background-size: cover;
}
.modal-content {
  background-color: var(--white-color);
  position: relative;
  width: 400px;
  padding: 20px;
  border-radius: 3px;
  z-index: 2;
  display: none;
  margin: auto;
}
.modal-icon {
  height: 100px;
  width: 100%;
  text-align: center;
  color: #f82254;
  display: block;
  font-size: 6rem;
}
.modal-icon h4 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color);
}
.modal-body h4 {
  font-size: 1.2rem;
  margin: 8px 0;
}
.btn-paypal img {
  height: 35px;
}
.btn-paypal {
  height: 35px;
  background-color: #ffc33a;
  border-radius: 3px;
  text-align: center;
}

.btn-comfirm:hover {
  background-color: #fab81d;
  cursor: pointer;
}
.btn-paypal:hover {
  background-color: #fab81d;
  cursor: pointer;
}
.mail,
.card-num {
  height: 25px;
  width: 100%;
}
.expiration-date,
.brand-bank img,
.brand-bank {
  display: flex;
  height: 25px;
}
.date {
  width: 50%;
  margin-right: 30px;
}
.btn-comfirm {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  background-color: #ffc33a;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 1.3rem;
}
.skip {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.skip a {
  color: var(--text-color);
}
