:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}
@font-face {
  src: url(../0226-LNTH-Daybreaker.ttf);
  font-family: logoFont;
}
@font-face {
  src: url(../Geomanist-Light.otf);
  font-family: bodyFont;
}
html {
  font-size: 62.5%;
  font-family: bodyFont;
  box-sizing: border-box;
}
body {
  margin: 0;
}
@media only screen and (max-width: 1023px) {
  .body-bottom {
    display: block;
  }
  .layout-header {
    display: block;
  }
  .top-foot,
  .body-header {
    padding: 10%;
  }
  .recent {
    display: none;
  }
  .header-bottom,
  .header-bottom-foot {
    justify-content: space-between;
  }

  .contact,
  .slogan {
    width: 35%;
  }

  .name {
    font-size: 6rem;
    font-weight: 100;
  }
  .detail {
    font-size: 7rem;
  }
  .menu {
    padding: 0 15%;
  }
  .modal-content {
    width: 250px;
  }
}
